.input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  caret-color: var(--tg-theme-button-color);
  color: var(--tg-theme-text-color);

  width: 70vw;
}

.input::placeholder {
  color: var(--tg-theme-text-color);
}