.input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  caret-color: var(--tg-theme-button-color);
  color: var(--tg-theme-text-color);

  max-width: 50%;
}

.input::placeholder {
  color: var(--tg-theme-text-color);
}