.donationLink {
	margin: 15px;
	margin-top: 20px;
}
.donationLink h3 {
	font-size: 18px;
	font-weight: 600;
}

.donationLink__link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 7px;
}
.donationLink__link button {
	margin-top: 10px;
}

.donationLink__linkbox {
	/* background-color: var(--tg-theme-secondary-bg-color); */
	display: inline-block;
	background-color: #18212D;
	padding: 15px;
	border-radius: 15px;
}
.donationLink__linkbox span {
	font-size: 14px;
	/* color: var(--tg-theme-text-color); */
	color: #fff;
}