.donationLink {
	margin: 15px;
	margin-top: 20px;
}
.donationLink h3 {
	font-size: 18px;
	font-weight: 600;
}

.donationLink__link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 7px;
}
.donationLink__link button {
	margin-top: 10px;
	transition: all .3s;
}

.donationLink__linkbox {
	background-color: var(--tg-theme-bg-color);
	padding: 15px;
	border-radius: 15px;
}
.donationLink__linkbox p {
	width: 100%;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	font-size: 15px;
	color: var(--tg-theme-text-color);
}