.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--tg-theme-bg-color);
	padding: 15px;
}

.header_description {
	color: var(--tg-theme-hint-color);
	font-size: 14px;
	font-weight: 300;
}