@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  font-family: "Poppins", sans-serif;
}

.input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  caret-color: var(--tg-theme-button-color);
}

.input::placeholder {
  color: #000;
}